:host {
  display: block;
}

.card {
  background-color: var(--color-card);
}

.card:hover {
  background-color: var(--color-hover);
}

h6 {
  font-weight: 700;
}

.card img {
  border-radius: 8px;
  width: 100%;
  max-width: 225px;
  max-height: 225px;
  object-fit: cover;
  align-self: center;
}
