:host {
  display: block;
}

.card {
  background-color: var(--color-card); 
}

.card:hover {
  background-color: var(--color-hover);
}

h6 {
  font-weight: 700;

}

.card img {
  height: 175px;
  object-fit: cover;
  border-radius: 8px;
}
