:host {
  display: block;
}

.not-found-container {
  min-height: calc(100vh - 60px); 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background);
}