div {
  background-color: var(--color-detail-card);
}

.container {
  padding: 24px;
  border-radius: 8px;
  background-color: var(--color-detail-card);
  height: 100%;
}

.card {
  height: 100%;
}

.card-body {
  border: 1px solid var(--color-border-light);
  border-radius: 8px;
}

.card-header {
  border-bottom: 0;
}
