:host {
  display: block;
}

div {
  background-color: var(--color-detail-card);
}

.container {
  padding: 24px;
}


.card-body {
  border: 1px solid var(--color-border-light);
  border-radius: 0px 0px 8px 8px;
}

.card-header {
  border: 1px solid var(--color-border-light);
  padding: 16px 16px;
}
