section {
  min-height: calc(100vh - 56px);
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.episode-details {
  display: grid;
  grid-template-columns: 1fr;
  grid-row: 1fr 1fr;
  gap: 16px;
}

.container {
  background-color: var(--color-detail-card);
  border-radius: 8px;
}

@media (width > 768px) {
  .episode-details {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}
