p {
  padding: 0;
  margin: 0;
}

.container {
  padding: 24px;
  border-radius: 8px;
  background-color: var(--color-detail-card);
}
.card {
  background-color: var(--color-detail-card);
}

.card img {
  border-radius: 8px;
  width: 100%;
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
  align-self: center;
}

.card-body {
  border: 1px solid var(--color-border-light);
  border-radius: 8px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h5 {
  width: fit-content;
}

button {
  border: none;
  color: white;
  width: fit-content;
}



@media (width > 768px) {
  .container {
    width: 100%;
  }
}
