.navbar {
  height: 60px;
}

.navbar .container-fluid,
.navbar-nav,
.nav-link, .navbar-brand  {
  height: 60px;
}

.nav-link, .navbar-brand  {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}