.login-container {
  min-height: calc(100vh - 60px);
  padding: 2rem 1rem;
}
/* 
background-color: var(--color-detail-card);
  border: 1px solid var(--color-border-light); */

.login-form {
  background-color: #2c2c2c;
  background-color: var(--color-detail-card);
  max-width: 400px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.form-control {
  background-color: var(--color-background);
  border: 1px solid var(--color-border-light);
}

.login-image {
  max-width: 350px;
  width: 100%;
}

.form-text a {
  text-decoration: none;
}

::placeholder, .form-check-label {
  color: var(--color-placeholder);
}