.snackbar {
  visibility: hidden;
  min-width: 250px;
  background-color: #323232;
  color: #fff;
  border-radius: 8px;
  padding: 14px 24px;
  position: fixed;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: visibility 0s linear 0.3s, opacity 0.3s ease-in-out;
  opacity: 0;
  z-index: 1000;
  user-select: none;
}

.snackbar.show {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
