:root {
  --color-navbar: #1e1e1e;
  --color-navbar-active: #000000;
  --color-background: #323232;
  --color-card: #32373c;
  --color-detail-card: #1e1e1e;

  --color-hover: #272b2e;
  --color-border-light: #373c41;

  --color-placeholder: #838282;

  --color-text-gray: #a0acb6;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}
