.card {
  background-color: var(--color-detail-card);
  border: 1px solid var(--color-border-light);
}
.form-control,
.form-select {
  background-color: var(--color-background);
  border: 1px solid var(--color-border-light);
}

select.form-select {
  color: white;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg width='1em' height='1em' viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M1.646 5.646a.5.5 0 0 1 .708 0L8 11.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1rem;
  padding-right: 2rem; 
}

.form-control:focus {
  color: white;
  border-color: #007bff;
  box-shadow: none;
}


::placeholder {
  color: var(--color-placeholder);
}
